@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo invocador!</h1>
    <a class="btn btn-primary" href="~/Home/List" role="button">List :p</a>
    <a class="btn btn-primary" href="~/Home/SingUp" role="button">Sing Up :p</a>
    <a href="https://www.youtube.com/watch?v=-nPwqO30ZOQ" class="btn btn-primary">Abertura Braba</a>
</div>
