@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Vai se tratar garotaaaaaa, Saaaaaai da minha bota</p>

<img src="~/img/DancinhaNaruto.gif" class="img-fluid" alt="...">
<img src="~/img/DancinhaAnime.gif" class="img-fluid" alt="...">